body, td, input, textarea, select {
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}

ins {
	background-color: #cfc;
}
del {
	background-color: #fcc;
}
/* Upper buttons toolbar */
.VP5otc-pzeoBf {
	padding-top: 2px;
	padding-bottom: 2px;
}
/* Indox section title */
.Wg {
	padding-top: 3px;
	padding-bottom: 3px;
}
.qd {
	padding-top: 8px;
	padding-bottom: 8px;
}
pre, code {
	font-size: 1.3em;
}